.gradle/
build/
bin/
.classpath
.project
.settings/
.DS_Store

# Android
android/.gradle/
android/.idea/
android/local.properties
android/app/build/
android/build/
*.apk

# Xcode / iOS
ios/DaifugoIOS.xcodeproj/xcuserdata/
ios/DerivedData/
*.xcuserstate
